<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JZStar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F68360BE2484DC6C00B4E4FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F68360D42484DC7500B4E4FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F68360DF2484DC7500B4E4FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
